<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">Import Citizen details</h1>
</legend>

<div class="govuk-form-group" [class.govuk-form-group--error]="validate && !valid()">
  <label class="govuk-label">
    Upload a CSV file
  </label>
  <span *ngIf="validate && !valid()" id="file-upload-1-error" class="govuk-error-message">You must select a CSV file</span>
  <input class="govuk-file-upload" id="file" name="file-upload-1" type="file"
         accept=".csv"
         (change)="handleFileInput($any($event).target.files)">
</div>
