<div *ngFor="let party of parties">
  <h2 class="govuk-heading-m">{{ party.name }}</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Claimaint type
      </dt>
      <dd class="govuk-summary-list__value">
        {{ party.partyType }}
      </dd>

    </div>
    <div *ngIf="party.partyType == 'Company' || party.partyType == 'Organisation'" class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ party.partyType }} name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ party.name }}
      </dd>
    </div>
  <div *ngIf="party.partyType == 'Individual' || party.partyType == 'SoleTrader'" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ party.firstName }}
    </dd>
  </div>
</dl>
</div>
<div class="hmcts-menu">
  <div class="hmcts-menu__wrapper">
    <button (click)="addParty()" class="govuk-button hmcts-menu__item  " data-module="govuk-button">Add party</button>
  </div>
</div>
