<div *ngIf="choices" class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      {{ title }}
    </legend>
    <div [formGroup]="form" class="govuk-radios">
      <div class="govuk-radios__item" *ngFor="let choice of choices">
        <input class="govuk-radios__input" id="location" type="radio" [formControl]="control"
               [value]="choice[0]" [name]="title">
        <label class="govuk-label govuk-radios__label" for="location">
          {{ choice[1]}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
