<app-stepper-container (nextEvent)="onNext($event)" [selectedIndex]="selected">
    <cdk-step *ngFor="let page of pages; index as i">
      <app-stepper-step [form]="forms.at(i)" [validate]="validate" [step]="page"></app-stepper-step>
    </cdk-step>
  <cdk-step>
    <div>
      <h2 class="govuk-heading-m">Submit case</h2>

      <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    </div>
  </cdk-step>

</app-stepper-container>

