<app-stepper-container (prevEvent)="onPrevious($event)" (nextEvent)="onNext($event)">
    <cdk-step *ngFor="let page of pages; index as i">
      <app-stepper-step [caseId]="caseId" [files]="files" [form]="page['form']" [validate]="validate" [step]="page"></app-stepper-step>
    </cdk-step>
  <cdk-step>
    <h1 class="govuk-heading-l">Check your answers</h1>
    <app-answer-section *ngFor="let page of pages; index as i"
                        [index]= "i" (answerChange)="onChange($event)" [form]="page['form']" [step]="page">
    </app-answer-section>
  </cdk-step>
</app-stepper-container>

