<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" id="title-header" href="#" i18n>Manage Cases</a>
    </div>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <i class="fas fa-user"></i>
          <li class="hmcts-header__navigation-item">
          </li>
          <li class="hmcts-header__navigation-item">
            <a *ngIf="user" id ="user-name" class="hmcts-header__navigation-link" href="#1">
              {{ user.forename }} {{user.surname}}
            </a>
          </li>
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="/logout" i18n>
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="hmcts-header__container">
    <div class="hmcts-header__logo">
      <ul class="hmcts-primary-navigation__list"><!----><li class="hmcts-primary-navigation__item"><a class="hmcts-primary-navigation__link" href="http://localhost:3455/cases">Case list</a></li><li class="hmcts-primary-navigation__item"><a class="hmcts-primary-navigation__link" href="/cases/case-filter">Create case</a></li></ul>
    </div>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <div class="hmcts-primary-navigation__search"><a class="hmcts-search-toggle__button transparent-background" href="/cases/case-search">Find case</a></div>
        <ul class="hmcts-header__navigation-list">
        </ul>
      </nav>
    </div>
  </div>
</header>

