<h2 class="govuk-heading-m">Enter expected claim value</h2>

<div id="example-hint" class="govuk-hint">
  Your fee will be calculated based on the higher value
</div>

<div [formGroup]="form" class="govuk-form-group">
  <label class="govuk-hint" for="amount">
    Lower value (Optional)
  </label>
  <div id="amount-currency" class="govuk-visually-hidden">in pounds</div>
  <div class="hmcts-currency-input">
    <div class="hmcts-currency-input__symbol" aria-hidden="true">£</div>
    <input formControlName="lowerValue" class="govuk-input govuk-input--width-10" id="lowerValue" name="lowerValue" type="text" aria-describedby="amount-currency " pattern="[0-9]*">
  </div>
</div>
<div [formGroup]="form" class="govuk-form-group">
  <label class="govuk-hint" for="amount">
    Higher value (Optional)
  </label>
  <div id="amount-currency" class="govuk-visually-hidden">in pounds</div>
  <div class="hmcts-currency-input">
    <div class="hmcts-currency-input__symbol" aria-hidden="true">£</div>
    <input formControlName="higherValue" class="govuk-input govuk-input--width-10" id="higherValue" name="higherValue" type="text" aria-describedby="amount-currency " pattern="[0-9]*">
  </div>
</div>
<div id="example-hint" class="govuk-hint">
  If you do not enter a higher value, you will be charged the maximum fee of £10,000
</div>
