<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">ID</th>
    <th scope="col" class="govuk-table__header">State</th>
    <th scope="col" class="govuk-table__header">Number of parties</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row" *ngFor="let case of caseList">
    <th scope="row" class="govuk-table__header">
      <a routerLink="/cases/{{case.case_id}}" routerLinkActive="active">{{case.case_id}}</a>
    </th>
    <td class="govuk-table__cell">
      <strong class="govuk-tag">{{ case.state }}</strong>
    </td>
    <td class="govuk-table__cell">
      {{ case.party_count }}
    </td>
  </tr>
  </tbody>
</table>
