<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Login</h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="username">
            User Name
          </label>
          <input formControlName="user" class="govuk-input govuk-input--width-10" id="username" name="address-postcode" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">Password</label>
          <input formControlName="password" class="govuk-input govuk-input--width-10" id="password" name="address-postcode" type="password">
        </div>
        <button (click)="onLogin()" class="govuk-button" data-module="govuk-button" id="login">Login</button>
      </fieldset>
    </form>
  </div>
</div>


