
<div class="govuk-form-group" *ngIf="title">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        {{ title }}
      </h1>
    </legend>
  </fieldset>
</div>
<div class="govuk-form-group">
  <form [formGroup]="form">
    <div class="govuk-form-group" *ngFor="let question of questions">
      <app-dynamic-form-question [validate]="validate" [form]="form" [question]="question"></app-dynamic-form-question>
    </div>
    <div>
    </div>
  </form>
</div>
