button {
  margin-left: 50px;
}

.govuk-grid-row {
  max-width: 898px;
}

.party-container {
  background-color: whitesmoke;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid;
}

.claim {
  background-color: whitesmoke;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid;
}

.parties {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.parties li {
  color: #1d70b8;
  cursor: pointer;
  position: relative;
  left: 0;
  padding: .3em 0;
  height: 1.6em;
  margin-bottom: 0.5em;
}
.parties li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  text-decoration: underline;
}
.parties li.selected {
  background-color: #f3f2f1;
  font-weight: bold;
}
