<div class="govuk-form-group">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Choose court location
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Court name
    </label>
    <span id="dob-hint" class="govuk-hint">
    This is your preferred County Court hearing centre
  </span>
    <form [formGroup]="form">
    <input formControlName="applicantPreferredCourt" class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </form>
  </div>
  <div class="govuk-form-group">

  <a target="_blank" href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Money+claims&amp;spoe=nearest">Find a hearing centre</a> (opens in a new window)
  </div>
</fieldset>
</div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
<button (click)="onClick()" type="button" class="govuk-button" data-module="govuk-button" id="submit-button">
  Next
</button>
  </fieldset>
</div>

