<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Claims</h1>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a routerLink="/cases/{{caseId}}/create-event" [queryParams]="{id: 'AddClaim'}"><button class="govuk-button hmcts-menu__item" >Create claim</button></a>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    <ul class="claims">
      <li *ngFor="let claim of claims"
          [class.selected]="claim === selectedClaim"
          (click)="onSelect(claim.claimId)">
        {{ claim.baz }}
        {{claimantName(claim) | slice:0:15}} vs ...
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-three-quarters claim-panel">

<div class="claim" *ngIf="selectedClaim">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{{ claimName(selectedClaim)}}</h2>
        <strong class="govuk-tag">{{selectedClaim.state | humanise}}</strong>
      </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">£{{selectedClaim.lowerAmount | number}} - £{{selectedClaim.higherAmount | number}}</h4>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Claimants</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr *ngFor="let party of selectedClaim.parties.claimants" class="govuk-table__row">
          <td class="govuk-table__cell">
          <a [routerLink]="['../../parties', party.partyId]">
            {{partyName(party)}}
          </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Defendants</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr *ngFor="let party of selectedClaim.parties.defendants" class="govuk-table__row">
          <td class="govuk-table__cell">
            <a [routerLink]="['../../parties', party.partyId]">
              {{partyName(party)}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
    </div>
  </div>
  <div *ngIf="selectedClaim.state == 'Issued'" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h4 class="govuk-heading-s">Available actions</h4>
      <a  routerLink="/cases/{{caseId}}/create-event"
         [queryParams]="{id: 'ConfirmService', entity_id: selectedClaim.claimId}">
        <button class="govuk-button hmcts-menu__item claim-action" >Confirm service</button>
      </a>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h4 class="govuk-heading-s">Claim history</h4>
      <app-case-history [history]="history"></app-case-history>
    </div>
  </div>
</div>
  </div>
</div>
