<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Claims</h1>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a routerLink="/cases/{{caseId}}/create-event" [queryParams]="{id: 'AddClaim'}"><button class="govuk-button hmcts-menu__item" >Create claim</button></a>
  </div>
</div>

<div class="claim" *ngFor="let claim of claims;let i = index">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{ claimName(claim)}}</h2>
        <strong class="govuk-tag">{{claim.state | humanise}}</strong>
      </div>
      <div class="govuk-grid-column-one-third">
        <a *ngIf="claim.state == 'Issued'" routerLink="/cases/{{caseId}}/create-event"
           [queryParams]="{id: 'ConfirmService', claimId: i}">
          <button class="govuk-button hmcts-menu__item" >Confirm service</button>
        </a>
      </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">£{{claim.lower_amount | number}} - £{{claim.higher_amount | number}}</h4>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Claimants</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr *ngFor="let claim of claim.parties.claimants" class="govuk-table__row">
          <td class="govuk-table__cell">{{partyName(claim)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Defendants</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr *ngFor="let claim of claim.parties.defendants" class="govuk-table__row">
          <td class="govuk-table__cell">{{partyName(claim)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
