button {
  float: right;
}

.govuk-grid-row {
  max-width: 898px;
}

.claim-action {
  float: left;
  margin-bottom: 2em;
}

.claim-panel {
  padding-right: 0px;
}

h2 {
  float: left;
  display: inline;
}
.govuk-tag {
  margin-left: 20px;
}

.claim {
  background-color: whitesmoke;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid;
}

.claims {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.claims li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  padding: .3em 0;
  height: 1.6em;
  margin-bottom: 0.5em;
}
.claims li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  border: 1px solid;
}
.claims li.selected {
  background-color: #CFD8DC;
  border: 1px solid black;
  font-weight: bold;
}
.claims li.selected:hover {
  background-color: #BBD8DC;
}
