<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Search citizens</h1>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <button (click)="addCitizens()" id="bulk-add-citizens" class="govuk-button hmcts-menu__item  " data-module="govuk-button">Add citizens</button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <fieldset class="govuk-fieldset">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="govuk-form-group">
          <label class="govuk-label" for="forename-search-input">Forename</label>
          <input class="govuk-input govuk-input--width-10" id="forename-search-input" name="caseNumber" type="text"
                 formControlName="forename">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="surname-search-input">Surname</label>
          <input class="govuk-input govuk-input--width-10" id="surname-search-input" name="caseName" type="text"
                 formControlName="surname">
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" type="submit" id="search-button">Search</button>
        </div>
      </form>
    </fieldset>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <ng-container *ngIf="citizens">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Forename</th>
          <th scope="col" class="govuk-table__header">Surname</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr *ngFor="let citizen of citizens" class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{citizen.title}}</th>
          <td class="govuk-table__cell">{{citizen.forename}}</td>
          <td class="govuk-table__cell">{{citizen.surname}}</td>
          <td class="govuk-table__cell">{{citizen.date_of_birth | date:'mediumDate'}}</td>
        </tr>
        </tbody>
      </table>
      <nav *ngIf="citizens.length" class="hmcts-pagination" id="pagination-label">
        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
        <ul class="hmcts-pagination__list">
          <li [style.visibility]=" page == 1 ? 'hidden' : 'visible'" class="hmcts-pagination__item  hmcts-pagination__item--prev">
            <a (click)="previous()" class="hmcts-pagination__link" href="javascript:void(0);">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
          </li>
          <li [style.visibility]=" hasMore ? 'visible' : 'hidden'" class="hmcts-pagination__item  hmcts-pagination__item--next">
            <a (click)="next()" class="hmcts-pagination__link" href="javascript:void(0);">Next<span class="govuk-visually-hidden"> set of pages</span></a>
          </li>
        </ul>
      </nav>
      <p *ngIf="citizens.length" class="hmcts-pagination__results">Showing <b>{{ startIndex() }}</b> to <b>{{(page - 1) * 10 + 10}}</b> of <b>{{ citizens[0].count | number:'1.0':'en-UK' }}</b></p>
    </ng-container>
  </div>
</div>

