@import "node_modules/govuk-frontend/govuk/base";

.govuk-width-container {
 max-width: 1220px;
}

body {
      @include govuk-font($size: 19);
      @include govuk-text-colour;
  }
.mat-tab-body {
  padding: 30px 20px
}
.mat-tab-label-content {
    background-color: #dee0e2;
      padding: 10px 20px;
  padding-bottom: 7px;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

  .mat-tab-list {
    .mat-ink-bar {
      display: none;
    }
  }

  .mat-tab-labels {
    .mat-tab-label {
      opacity: 1;
      padding: 5px 5px 7px;
      border-bottom: none;
      color: #1d70b8;
      min-width: 50px;
      @include govuk-font($size: 19);
    }
    .mat-tab-label-active {
      @extend .mat-tab-label;
      text-decoration: none;
      border-top: 1px solid $govuk-border-colour;
      border-left: 1px solid $govuk-border-colour;
      border-right: 1px solid $govuk-border-colour;

      div {
          background-color: white;
      }
    }
  }
  .mat-tab-body-wrapper {
    top: -1px;
    border: 1px solid $govuk-border-colour;
    padding: 10px;
  }

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none
}
.mat-tab-body-wrapper {
    top: -1px;
}
.mat-tab-labels .mat-tab-label-active {
    border-bottom: 1px solid #fafafa;
}
