@import "node_modules/govuk-frontend/govuk/base";

body {
      @include govuk-font($size: 19);
      @include govuk-text-colour;
  }
.mat-tab-body {
  padding: 30px 20px
}
.mat-tab-label-content {
    // background-color: red;
    background-color: govuk-colour("light-grey", $legacy: "grey-4");
      padding: 10px 20px;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

  .mat-tab-list {
    .mat-ink-bar {
      display: none;
    }
  }

  .mat-tab-labels {
    .mat-tab-label {
      opacity: 1;
      padding: 5px;
      border-bottom: none;
      color: #333;
      text-decoration: underline;
      min-width: 50px;
    //   padding: 10px 20px;
      @include govuk-font($size: 19);
      @include govuk-text-colour;
    //   background-color: #f3f2f1;
    }
    .mat-tab-label-active {
      @extend .mat-tab-label;
      text-decoration: none;
      border-top: 1px solid $govuk-border-colour;
      border-left: 1px solid $govuk-border-colour;
      border-right: 1px solid $govuk-border-colour;
      div {
          background-color: white;
      }
    }
  }
  .mat-tab-body-wrapper {
    top: -1px;
    border: 1px solid $govuk-border-colour;
    padding: 10px;
  }

/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */



.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none
}
.mat-tab-body-wrapper {
    top: -1px;
}
.mat-tab-labels .mat-tab-label-active {
    border-bottom: 1px solid #fafafa;
}
