<h1 class="govuk-heading-l">Select claim participants</h1>
<span class="govuk-error-message" *ngIf="!valid() && validate">
  <span class="govuk-visually-hidden"></span>A claim must have a claimant and defendant
</span>
<div class="govuk-form-group" [class.govuk-form-group--error]="!valid() && validate">
<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Party</th>
    <th scope="col" class="govuk-table__header">Claimant</th>
    <th scope="col" class="govuk-table__header">Defendant</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row" *ngFor="let party of caseParties">
    <th scope="row" class="govuk-table__header">{{ partyName(party)}}</th>
    <td [formGroup]="claimants" class="govuk-table__cell">
      <div class="govuk-checkboxes__item">
        <input [attr.disabled]="isCheckBoxDisabled(true, party.party_id) ? true : null" [formControlName]="party.party_id" class="govuk-checkboxes__input" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label">
        </label>
      </div>
    </td>
    <td [formGroup]="defendants" class="govuk-table__cell">
      <div class="govuk-checkboxes__item">
        <input [attr.disabled]="isCheckBoxDisabled(false, party.party_id) ? true : null" [formControlName]="party.party_id" class="govuk-checkboxes__input" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label">
        </label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>


