<div class="govuk-grid-row">
    <!-- <div class="govuk-grid-column-one-quarter"> -->
        <button (click)="createClicked()" class="govuk-button pull-right" data-module="govuk-button" style="float:right" id="create-case-button">
            Create case
        </button>
    <!-- </div> -->
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Search</h1>
            </legend>

            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode">Case number</label>
                    <input class="govuk-input govuk-input--width-10" id="case-id-search-input" name="caseNumber" type="text"
                        formControlName="id">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode">Case name</label>
                    <input class="govuk-input govuk-input--width-10" id="caseName" name="caseName" type="text"
                        formControlName="caseName">
                </div>
                <div class="govuk-form-group">
                <button class="govuk-button" type="submit" id="search-button">Search</button>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <app-case-list [caseList]="caseList"></app-case-list>
    </div>
</div>
